@import url(./__image/edit-button__image.css);

.edit-button {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    margin-left: 17px;
    text-align: center;
    transition: opacity .2s linear;
    cursor: pointer;
}

.edit-button:hover {
    opacity: .6;
}