@import url(./__image/add-button__image.css);

.add-button {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    transition: opacity .2s linear;
    cursor: pointer;
    background: #000000;
    flex-shrink: 0;
}

.add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 624px) {
    .add-button {
        width: 100%;
    }
}