@import url(./__image/add-button__image.css);

.add-button {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
}